@use "extends" as *;
@import "variables";
.col-2 {
  max-width: calc((100% / 12) * 2);
}

.col-3 {
  max-width: calc((100% / 12) * 3);
}

.col-4 {
  max-width: calc((100% / 12) * 4);
}

.col-6 {
  max-width: calc((100% / 12) * 6);
}

.col-12 {
  width: 100%;
}

.container {
  width: min(100% - 2rem, var(--container-width));
  padding: 72px 0;
  height: 100%;
  margin-inline: auto;
  @extend %flex-column-center;
}

.wrapper{
@extend %flex-column-center
}

html{
  scroll-padding-top: 109px;
}

