@use "./extends.scss" as *;

@mixin font-normal($size: 22px, $color: black) {
  color: $color;
  font-size: $size;
  @extend %font-normal;
}

@mixin font-bold($size: 22px, $color: black) {
  color: $color;
  font-size: $size;
  @extend %font-bold;
}
