:root{
  --container-width: 1232px;
  --ellipse-size: 12px;
  --text-size-title: 56px;
  --text-size-subtitle: 24px;
  --text-size-normal: 22px;
  --text-size-figcaption: 14px;
  --text-size-content: 16px;
}

$text-size-title: 56px;
$text-size-subtitle: 24px;
$text-size-normal: 22px;
$text-size-figcaption: 14px;
$text-size-content: 16px;
$color-primary: #fff;
$color-secondary: #fafafa;
$primary-color-btn: #3A4576;
$text-color-primary: #120D0E;
$text-color-secondary: #3D3B3C;
$text-color-btn: #fff;
$gray-color: #bebebe;
$ellipse-primary-color: #c4c4c4;
