@font-face {
 Font-Family: 'Roboto';
  src: local('Roboto'), local('roboto');
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  src: url('assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
 Font-Family: 'Roboto';
  src: local('Roboto'), local('roboto');
  src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  src: url('assets/fonts/roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 600;
}
