@import './fonts.scss';
@import './common/index.scss';

.header {
  background-color: $color-primary;
  min-height: 712px;
}

.main-nav {
  position: sticky;
  top: 0;
  background-color: $color-primary;
  z-index: 3;

  .container {
    border-bottom: 1px $text-color-secondary solid;
    padding: 40px 0;
  }
}

.main-nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-nav__item {
  box-sizing: border-box;

  ._active-nav {
    text-decoration-line: line-through;
    font-weight: 600;
  }
}

.main-nav__toggle{
  display: none;
}

._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.main-nav__link {
  @include font-normal(var(--text-size-subtitle), $text-color-secondary);
}

.main-nav__link:hover {
  font-weight: bold;
}

.link_focus {
  text-decoration-line: line-through;
}

.header__content {
  display: flex;
  justify-content: space-between;
  // @extend %flex-space-between;
}

.header__about {
  @extend %flex-column;
}

.title {
  @extend %flex-center;
  overflow: hidden;
  margin-bottom: 56px;
}

.title__item {
  @extend %flex-column;
  @include font-bold(var(--text-size-title), $text-color-primary);
  white-space: nowrap;
}

.header__title {
  display: block;
}

.header__title-item--gray {
  color: $gray-color;
  margin-top: 8px;
}

.header__overview {
  @include font-normal(var(--text-size-normal), $text-color-secondary);
  margin-top: 40px;
}

.header__overview-item--margin-top {
  margin-top: 1em;
}

.header__img {
  width: 35%;
  height: 464px;
  object-fit: cover;
}

.header__img-mob{
  display: none;
}

.header__buttons {
  margin-top: 72px;

  a {
    margin-bottom: 12px;
  }

  a:first-child {
    margin-right: 24px;
  }
}

.btn-link {
  @include font-bold(var(--text-size-subtitle), $text-color-btn);
  width: 185px;
  display: inline-block;
  text-align: center;
  line-height: 56px;
  background-color: $primary-color-btn;
  white-space: nowrap;
}

.skills {
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__content {
  display: flex;
  margin-bottom: 56px;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 270px;
  transition: max-height 400ms ease;
}

.skills__content:last-child {
  margin-right: auto;
}

._full-height {
  max-height: 2000px;
}

.skills__item {
  @extend %flex-column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 6);
  margin-bottom: 80px;

  figcaption {
    @extend %font-normal;
    @extend %flex-column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
}

.skills__rating {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-arrow {
  border: none;
  margin-bottom: 72px;
  background-color: unset;
  width: 32px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-arrow__img {
  width: 100%;
  height: 100%;
  transition: all 300ms;
}

.btn-arrow__img:hover {
  width: 105%;
  height: 105%;
}

.experience {
  background-color: $color-primary;
}

.experience__item {
  z-index: 2;
}

.background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
}

.background__vertical-line {
  width: 1px;
  height: 110%;
  background-color: $text-color-secondary;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.background__item {
  @extend %animation-right-left;
  margin-bottom: 28px;
  margin-top: 28px;
  display: flex;
  justify-content: start;
  width: 100%;
}

.background__item--revert {
  @extend %animation-left-right;
  margin-bottom: 28px;
  margin-top: 28px;
  display: flex;
  justify-content: start;
  align-self: start;
  align-items: center;
  flex-direction: row-reverse;

  .timeline {
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: 40px;

    .timeline__ellipse {
      position: relative;
      margin-left: 12px;
      margin-right: 0;
      right: -6px;
      left: unset;
      z-index: 2;
    }
  }

  .subtitle__item {
    align-self: end;
    text-align: end;
  }

  .subtitle__position {
    direction: rtl;
  }

  .background__text {
    text-align: end;
  }
}

.timeline {
  @include font-normal(var(--text-size-subtitle), $gray-color);
  align-items: center;
  display: flex;
  align-self: center;
  margin-right: 40px;
}

.timeline__title {
  white-space: nowrap;
}

.timeline__ellipse {
  position: relative;
  left: calc(var(--ellipse-size) / 2 * -1);
  width: var(--ellipse-size);
  height: var(--ellipse-size);
  margin-right: 12px;
  fill: $gray-color;
  z-index: 2;
  flex-shrink: 0;
}

.subtitle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.subtitle {
  @include font-bold(var(--text-size-subtitle), $text-color-primary);
  @extend %flex-column;

  .subtitle__position {
    font-size: $text-size-normal;
    font-weight: normal;
    display: flex;
  }
}

.background__text {
  @include font-normal(var(--text-size-content), $gray-color);
  margin-top: 8px;
}

.background__item:first-child > .timeline {
  color: $ellipse-primary-color;
}

.background__item:first-child {
  .timeline {
    color: #3a4576;
  }

  .timeline__ellipse {
    fill: #3a4576;
    z-index: 2;
  }
}

.projects {
  background-color: $color-secondary;
}

.projects__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.projects__item {
  display: flex;
  justify-content: space-between;
}

.projects__image {
  object-fit: fill;
  margin-right: 130px;
  width: calc(100% / 2);
  height: auto;
}

.projects__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.languages {
  background-color: $color-secondary;
}

.languages-content {
  display: flex;
  justify-content: space-around;
}

.languages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages__language {
  @extend %flex-column-center;
  margin-top: 24px;
  font-weight: 600;

  &-level {
    margin-top: 8px;
    font-weight: 400;
  }
}

.contacts {
  background-color: $color-primary;
}

.contacts__content {
  @extend %flex-space-around;
}

.contacts__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  max-width: 412px;
  max-height: 412px;
  overflow: hidden;
}

.contacts__image {
  max-width: 480px;
  transition: max-width 0.2s;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-item__mail {
    text-decoration-line: underline;
    color: $text-color-primary;
  }

  a { display: inline-block}
}

.contacts__info-item__mail {
  margin: 20px 0 10px;
}

.contacts__image:hover {
  max-width: 520px;
}

.social-network__img {
  max-width: 56px;
  height: 56px;
  margin: 0 8px 0;
}

@media screen and (max-width: 1200px) {
  .title__item {
    white-space: normal;
  }
}

@media screen and (max-width: 992px) {
  .skills__item {
    width: calc(100% / 5);
  }

  .background__item {
    flex-direction: column;

    .timeline {
      align-self: start;
      margin-bottom: 12px;
    }

    .subtitle {
      margin-left: 24px;
    }
  }

  .background__item--revert {
    flex-direction: column;

    .timeline {
      margin-bottom: 12px;
      align-self: end;
    }

    .subtitle {
      align-self: end;
      margin-right: 24px;
    }
  }

  .projects__image{
    margin-right: 50px;
  }
}

@media only screen and (max-width: 767px) {

  .header .col-6{
    max-width: 100%;
  }

  .header__buttons{
    align-self: center;
  }

  .header__img{
    display: none;
  }

  .header__img-mob{
    display: block;
    width:360px;
    align-self: center;
  }

  .main-nav {
    transition: all .5s;
    height: 50px;


    .container {
      padding: 10px 0 ;
    }

    .main-nav__list {
      flex-direction: column;
      overflow: hidden;
      opacity: 0;
      transition: opacity .3s;
      margin-top: 30px;
    }

    .main-nav__item {
      margin-bottom: 15px;
    }
  }

  .main-nav__toggle {
    position: absolute;
    right: 25px;
    top: 25px;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 35px;
    padding: 5px;
    background-color: $color-primary;
    border: none;
    display: block;
  }

  .hamburger {
    position: relative;
    display: block;
  }


  .hamburger,
  .hamburger::before,
  .hamburger::after {
    transition: all .3s ease-out;
    width: 25px;
    height: 3px;
    background-color: $text-color-primary;

  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before{top: 6px;}
  .hamburger::after{bottom: 6px;}

  .main-nav._opened {
    height: 350px;

    .main-nav__list {
      opacity: 1;
    }
  }

  ._opened .hamburger{
    transform: rotate(45deg);
  }

  ._opened .hamburger::before {
    opacity: 0;
  }

  ._opened .hamburger::after {
    transform: rotate(90deg) translate(6px);
  }


  .skills__item {
    width: calc(100% / 3);
  }

  .projects__item{
    flex-direction: column;

    .projects__info{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  .projects__image {
    margin: 0 auto 20px;
    width: 90%;
  }

  .projects__info p {
    margin: 20px 0;
  }

  .languages__item img {
    width: 150px;
  }

  .contacts__image-container{
    display: none;
  }

  .contacts__info{
    width: 50%;
    align-items: center;
  }

  .contacts__info-item_media {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .contacts__info-item__mail{
    margin: 30px 0;
    font-size: var(--text-size-subtitle);
  }

  .contacts__info:last-child{
    font-size: var(--text-size-subtitle);
  }

}

@media only screen and (max-width: 600px){
  ._full-height {
    max-height: 2200px;
  }

  :root{
    --ellipse-size: 12px;
    --text-size-title: 42px;
    --text-size-subtitle: 20px;
    --text-size-normal: 18px;
    --text-size-content: 12px;
    --text-size-figcaption: 10px;
  }

  .skills__item {
    max-width: calc(100% / 2);
  }

  .projects__image{
    width: 100%;
  }

  .languages__item img {
    width: 100px;
  }

  .timeline__title{
    white-space: normal;
  }
}



