@import '../css/fonts.css';
$primary-color: #ffffff;
$secondary-color: #fafafa;

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-12 {
  width: 100%;
}

@mixin font-normal($size: 22px, $color: black) {
  font-family: roboto, sans-serif;
  font-weight: normal;
  color: $color;
  font-size: $size;
}
@mixin font-bold($size: 22px, $color: black) {
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: $color;
  font-size: $size;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
.btn {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding: 0 15px;
  max-width: 1262px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: $primary-color;
  min-height: 712px;
}

.main-nav {
  padding: 40px 0;
  border-bottom: 1px #3d3b3c solid;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  @include font-normal(24px);
}

.main-nav__link:focus {
  text-decoration: line-through;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.header__about {
  @include flex-column;
}

.title__item {
  @include flex-column;
  @include font-bold(56px);
}

.header__title-item--gray {
  color: #bebebe;
  margin-top: 8px;
}

.header__overview {
  @include font-normal();
  margin-top: 40px;
}

.header__overview-item--margin-top {
  margin-top: 1em;
}

.header__buttons {
  margin-top: 72px ;
}

.header__btn--margin-right{
  margin-right: 12px;
}

.header__btn--margin-left{
  margin-left: 12px;
}

.btn {
  background-color: #3a4576;
  max-width: 185px;
  width: 100%;
  height: 56px;
}

.btn__text {
  display: block;
  @include font-bold(24px, #fff);
  white-space: nowrap;
}
